
.search__field{

  width: 396px;
  height: 24px;
  background: #EFEFEF;
  border: none;

}

.search__button{

  width: 80px;
  height: 24px;
  background: #2F80ED;
  border-radius: 0px 4px 4px 0px;
  color: #fff;
  border: none;
}
